@model WebApplication5.Models.Employe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeFn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeFn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeLn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeLn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeAddr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeAddr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
