@model IEnumerable<WebApplication5.Models.Employe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeFn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeLn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeAddr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeFn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeLn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeAddr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
